<div class="container content" style="padding-left: 0px; padding-top: 10px" *ngIf="memoryGame">
  <div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <td style="font-weight: bold; font-size: larger;">
            High Stakes Dog Memory!*
          </td>
        </tr>
        <tr>
          <td>
            Number of Turns
          </td>
          <td>
            Number of Cards
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ memoryGame.turnsTaken }}
          </td>
          <td>
              <input type="text" id="numberOfCards" class="form-control"
                     placeholder="Number of Cards"
                     [(ngModel)]="numberOfCards" (blur)="fetchDogsArf();"/>
          </td>
        </tr>
        <tr>
          <td>
            *Vegas rules apply
          </td>
          <td>
            <button class="btn btn-primary" (click)="startNewGame();">New Game</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="display: inline-block;
    padding: 10px;
    width: 150px;
    height: 200px;
    vertical-align: top;"
       *ngFor="let card of memoryGame.cards" (click)="flipCard(card);">
    <div *ngIf="!card.isFaceUp" class="back">
      <img src="../assets/images/card-back-2.png" class="img-thumbnail" style="padding: 0px !important">
    </div>
    <div *ngIf="card.isFaceUp" class="front" style="    width: 130px;
    height: 181px;
    background: white;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
    text-align: center">
      <span style="font-weight: bold;">{{ doggos[card.cardTypeId - 1].name }}</span>
      <img src="{{ doggos[card.cardTypeId - 1].imgSource }}" class="img-thumbnail">
    </div>
  </div>
 </div>
<div class="container content" style="padding-left: 0px; padding-top: 10px" *ngIf="allGames">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <td style="font-weight: bold; font-size: larger;">
          Previous Games
        </td>
      </tr>
      <tr>
        <td>
          Number of Turns
        </td>
        <td>
          Number of Cards
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of allGames">
        <ng-container *ngIf="game.isFinished">
          <td>
            {{ game.turnsTaken }}
          </td>
          <td>
            {{ game.numberOfCards }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
